.container {
  text-align: center;
  padding: 20px;
}

.pose-section {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: static; 
}

.pose-detection-img,
.pose-detection-vid {
  position: relative;
  height: 40vh;
  flex: 1;
}

.pose-image {
  width: 100%;
  height: 100%;
  display: block;
}

.skeleton-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.mirror {
  transform: scaleX(-1);
}

.pose-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .pose-container {
    flex-direction: row;
  }
}

.pose-toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pose-button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 16px;
}

.pose-button.active {
  background-color: #007bff;
  color: white;
}
